#!/usr/bin/make -f

# Specific target, we only need to pass a specific flag to ./configure:
build:
	dh build --before auto_configure
	dh_auto_configure -- --without-aalib
	dh build --after auto_configure

# Everything else:
%:
	dh $@
